.imageManify {
  width: 100%;
  max-width: 500px; /* Đảm bảo độ rộng tối đa */
  aspect-ratio: 1 / 1; /* Giữ tỷ lệ vuông */
  z-index: 1;
}

.imageManify img {
  width: 100%;
  height: 500px;
  object-fit: cover; /* Đảm bảo ảnh luôn phủ kín khung */
}

.slider-image .swiper-button-prev:after, .swiper-button-next:after{
  font-size: 20px;
}

@media (max-width: 768px) {
  .imageManify {
    height: 350px;
  }
  .imageManify img {
    height: 350px;
  }

  .imageContainer{
    height: 550px;
  }
}

  .slick-next, .slick-prev{
    display: block;
  }
  .slider-image .slick-prev:before, .slider-image .slick-next:before{
    display: block;
    color: #ccc;
    opacity: 1;
  }
