.imageManify {
  max-width: 500px;
  max-height: 500px;
  z-index: 1;
}

  .slick-next, .slick-prev{
    display: block;
  }
  .slider-image .slick-prev:before, .slider-image .slick-next:before{
    display: block;
    color: #ccc;
    opacity: 1;
  }
