.product-list-container {
    position: relative;
    min-height: 40vh;
}

.product-item-container {
    padding: 10px;
    min-height: 300px;
}

/* Products header*/
.product-list-container-title {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ebebeb;
}

.titleProducts {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.titleProducts span {
    font-size: 14px;
}
.select-container {
    width: 20%;
    font-size: 12px;
}

.product-list-container-title h1 {
    text-transform: uppercase;
    font-size: 21px;
    margin: 0;
}



.product-list-empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-list-empty .text {
    font-size: 0.8rem;
    text-align: center;
    font-style: italic;
}

.pagination-container {
    display: flex;
    justify-content: center;
}