.price-filter {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 300px;
  margin-left: 50px;
}

input[type="number"] {
  width: 100px;
  padding: 5px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.rc-slider-track {
  background-color: #1890ff;
}

.rc-slider-handle {
  width: 24px;
  height: 24px;
  margin-top: -10px;
  border: solid 2px #1890ff;
  background-color: white;
  cursor: pointer; /* Con trỏ khi di chuột qua tay nắm */
}

.rc-slider-handle:hover {
  border-color: #0056b3 !important;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Hiệu ứng đổ bóng */
}

.rc-slider {
  margin: 20px 0;
}
