.ctn {
    background-color: #00258b;
    color: #fff;
    margin-top: 50px;
}
.textAling{
    text-align: center;
}
.appName
{
    margin-top: 30%;
}
.padingbot{
    padding-bottom: 80px;
}

.ctn h3 {
    font-size: 18px;
    text-transform: uppercase;
}

.footer .footer-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
}