.icChevron {
    font-size: 14px;
}

.page-item {
    cursor: pointer;
}

.page-item.disabled {
    cursor: default;
}

.page-more {
    cursor: default;
}

.page-more:hover {
    background-color: #fff !important;
}
